@model SharpGeoApi.Core.Collections
@{Layout = "Layout.cshtml";}


<h2>Collections in this service</h2>


<table>
    <caption>Collections</caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dataset in Model.Datasets)
        {
            <tr>
                <td><a href="/collections/@dataset.Id">@dataset.Title</a></td>
                <td>@dataset.Description</td>
            </tr>
        }
        <tr>
    </tbody>
</table>

